### CONFIGURATION FILE FOR PRSTOOLKIT ###
# Set the directory variables and parameters, the order doesn't matter.
#
# Note:
# - In addition to this configuration file, the SLURM settings of the main file (prstoolkit.sh) need to be manually configured as well.
#   This includes the settings for mail events. 
# - Precede your comments with a #-sign.
# - Don't end the directory variables with '/' (forward-slash)!
# - Please leave the "" if you would like to leave a parameter empty.
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                 GENERAL                 -----------------------------------------------------------=
# =================================================================================================================================================================
### REQUIRED: indicate what method to use [PLINK/RAPIDOPGS/PRSCS/PRSICE/LDPRED/MANUAL/NONE]
# PLINK                     -- use PLINK to calculate PGS from posterior SNP effect sizes
# RAPIDOPGS                 -- use RapidoPGS to calculate PGS from GWAS summary statistics without requiring an external LD panel
# PRSCS                     -- use PRS-CS to calculate PGS by inferring posterior SNP effect sizes under continuous shrinkage priors
# PRSICE                    -- use PRSice to calculate PGS, GWAS summary statistics will be LD-pruned using P-value thresholds
# LDPRED                    -- use LDpred to LD-correct GWAS summary statistics and calculate polygenic scores *not implemented yet*
# MANUAL                    -- use an in-house developed Rscript to calculate a polygenic score using a limited set of variants *not implemented yet*
# NONE                      -- don't perform PRS, instead only peform quality control (if QC is turned on)
PRSMETHOD="PLINK"
#
### REQUIRED: Name of the project.
PROJECTNAME="EXAMPLE_PGS"
#
### REQUIRED: Directory settings
# PROJECT_DIR               -- path to where the main analysis directory resides
# OUTPUT_DIRNAME            -- name of the output directory within the PROJECT_DIR directory
# SUBPROJECT_DIR_NAME       -- name of (sub)project -- this will be used to create subfolders within the OUTPUTDIR
# MAIN_WORKDIR_NAME         -- name of the working directory within the main analysis directory, used for temporary files
# LOG_DIRNAME               -- name of the subdirectory of the PROJECT_DIR directory used for storing log files
PROJECT_DIR="/hpc/dhl_ec/USERNAME/projects/EXAMPLE_PGS"
OUTPUT_DIRNAME="PGS"
SUBPROJECT_DIR_NAME="NORMAL_EXAMPLE"
MAIN_WORKDIR_NAME="PGS_TMP_EXAMPLE"
LOG_DIRNAME="PGS_LOGS_EXAMPLE"
#
### REQUIRED: quality control settings
# QC                        -- indicate whether quality control should be applied according to the specs below [YES/NO]
# MAF                       -- minimum minor allele frequency to keep variants, e.g. "0.005"
# INFO                      -- minimum imputation quality score to keep variants, e.g. "0.3"
QC="NO"
MAF="0.01"
INFO="0.8"
#
### REQUIRED: keep the files temporarily generated by the PGSToolKit at the end of a job [TRUE/FALSE]
KEEP_TEMP_FILES="TRUE"
#
### REQUIRED: [TRUE/FALSE] whether to save a copy of this configuration file along with the results
SAVE_CONFIG="TRUE"
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                 SOFTWARE                -----------------------------------------------------------=
# =================================================================================================================================================================
# REQUIRED: path to where the software resides on the server
SOFTWARE="/hpc/local/Rocky8/dhl_ec/software"
#
RSCRIPT="/hpc/local/Rocky8/dhl_ec/software/R-4.3.1/bin/Rscript"
PYTHONPATH="/hpc/local/Rocky8/dhl_ec/software/mambaforge3/envs/pgstoolkit/python"
#
# REQUIRED: path to where PRSTOOLKIT resides on the server
PRSTOOLKITDIR="${SOFTWARE}/PGSToolKit"
PRSTOOLKITSCRIPTS="${PRSTOOLKITDIR}/SCRIPTS"
#
# REQUIRED: paths to PRS method executables
PRSICE2_R="${SOFTWARE}/PRSice_linux_235/PRSice.R"
PRSICE2_SH="${SOFTWARE}/PRSice_linux_235/PRSice_linux"
PLINK="${SOFTWARE}/plink2_linux_x86_64_20240105_alpha_5_10/plink2"
PRSCS="${SOFTWARE}/PRScs_04Jan2021/PRScs.py"
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                   DATA                  -----------------------------------------------------------=
# =================================================================================================================================================================
### REQUIRED: base file format                                                                                 
# Different methods require different data. R stands for required, O for optional.                                  _______________________________________________
#                                                                                                                   | RAPIDOPGS | PLINK | PRSCS | LDPRED | PRSICE |
# BASEDATA                  -- path to the base file containing the GWAS summary data,                              |     R     |   R   |   R   |        |    R   |
#                              preferably .gz compressed but plain text should also work                            |           |       |       |        |        |
# BF_BUILD                  -- build of the base file, e.g. "hg19" or "hg38"                                        |     R     |       |       |        |        |
# BF_ID_COL                 -- name of the SNP ID column in the base file                                           |     R     |   R   |   R   |        |    R   |
# BF_CHR_COL                -- name of the chromosome column in the base file                                       |     R     |       |       |        |    R   |
# BF_POS_COL                -- name of the position column in the base file                                         |     R     |       |       |        |    R   |
# BF_EFFECT_COL             -- name of the effect allele column in the base file                                    |     R     |   R   |   R   |        |    R   |
# BF_NON_EFFECT_COL         -- name of the non-effect allele column in the base file                                |     R     |       |   R   |        |    R   |
# BF_STAT                   -- type of measure in the BF_STAT_COL, either "beta" or "or"                            |           |       |   R   |        |    R   |
#                              *it is unknown whether RapidoPGS supports odds ratios                                |           |       |       |        |        |
# BF_STAT_COL               -- name of the beta/OR/effect size column in the base file                              |     R     |   R   |   R   |        |    R   |
# BF_FRQ_COL                -- name of the effect allele frequency column in the base file                          |    R/O    |       |       |        |        |
#                              *required for Rapido for quantative traits only                                      |           |       |       |        |        |
# BF_SE_COL                 -- name of the column of the standard error of the beta/OR value                        |     R     |       |       |        |        |
# BF_PVALUE_COL             -- name of the column containing the P-values of the assocation test                    |     R     |       |   R   |        |    R   |
# BF_SBJ_COL                -- name of the column containing the sample size for each variant                       |    R/O    |       |       |        |        |
#                              *for quantative traits using Rapido, provide either BF_SBJ_COL or BF_SAMPLE_SIZE     |           |       |       |        |        |
# BF_SAMPLE_SIZE            -- sample size of the GWAS, *required for Rapido for quantitative traits only           |    R/O    |       |   R   |        |        |
# BF_TARGET_TYPE            -- "cc" for a case control trait, "quant" for a quantative trait                        |     R     |       |       |        |        |
#
# Below an example on b37. This is the first part of a score created by Inouye et al.
# The variantIDs were modified to accomodate the genetic data used.
#
# CAD score; https://pubmed.ncbi.nlm.nih.gov/30309464/
# Inouye_bioRxiv_2018/metaGRS_hg19_20180205.txt.gz | head
# chr	position	rsid	allele1	allele2	effect_allele	beta
#  1	  2245570	rs2843152	C	G	G	-2.76009e-02
#  1	 22132518	rs35465346	A	G	G	 2.39340e-02
#  1	 38386727	rs28470722	A	G	G	-1.74935e-02
#
# Inouye_bioRxiv_2018/metaGRS_hg19_20180205.4PGSTK.txt.gz | head
# variantid rsid rsid_aegs chr position effect_allele other_allele beta P_ukbb
# 1:2245570 rs2843152 rs2843152 1 2245570 G C -2.76009e-02 1.34e-05
# 1:22132518 rs35465346 rs35465346 1 22132518 G A 2.39340e-02 5.91e-06
# 1:38386727 rs28470722 rs28470722 1 38386727 G A -1.74935e-02 7.37e-06
# 1:55496039 rs11206510 rs11206510 1 55496039 T C 2.93005e-02 3.68e-08
# 
BASEDATA="/hpc/dhl_ec/svanderlaan/projects/polygenicscores/Inouye_bioRxiv_2018/metaGRS_hg19_20180205.4PGSTK.txt"
BF_BUILD="hg19"
BF_ID_COL="rsid_aegs"
BF_CHR_COL="chr"
BF_POS_COL="position"
BF_EFFECT_COL="effect_allele"
BF_NON_EFFECT_COL="other_allele"
BF_STAT="P"
BF_STAT_COL="beta"
BF_FRQ_COL=""
BF_SE_COL=""
BF_PVALUE_COL=""
BF_SBJ_COL=""
BF_SAMPLE_SIZE=""
BF_TARGET_TYPE=""
#
# REQUIRED: path to where the LD reference data resides.
#   - RapidoPGS and PLINK: no reference data is used
#   - PRS-CS: developer recommends to use either the reference material from the 1000 genomes project or from the UK biobank.
#     You can find the links to these files at the GitHub page of PRS-CS: https://github.com/getian107/PRScs.
#     For PRS-CS, please supply the path to the folder containing the map and .hdf5 files, e.g. "/data/ldblk_1kg_eur".
#   - PRSice: reference data is optional, must be in .bed format https://www.cog-genomics.org/plink2/formats#bed.
#     If no reference data is provided, PRSice will use the target genotype for LD calculation.
#     For PRSice, please supply the path and prefix of the .bed files, e.g. "/data/1000Gp3v5.20130502.EUR.chr".
LDDATA=""
#
# REQUIRED: validation dataset name and format.
# The only accepted format for the validation data is .bgen: https://www.well.ox.ac.uk/~gav/bgen_format/.
# VALIDATIONDATA            -- path to the directory containing the validation data, e.g.: 
#                              b38: "/hpc/dhl_ec/data/DATA_QC_imputation_2023/aegscombo/_topmed_r3_f10_b38"
#                              b37: "/hpc/dhl_ec/data/DATA_COMBINED_EAGLE2_1000Gp3v5HRCr11"
# VALIDATIONPREFIX          -- prefix of the validation files excluding the chr-number and extension, e.g.:
#                              b38: ""
#                              b37: "data.qc.1kgp3hrcr11.idfix.rsid.8bit.chr"
# VAL_REF_POS               -- position of the reference allele in the .bgen file relative to the alternative allele, "ref-first" (default), "ref-last" or "ref-unknown",
#                              required for RapidoPGS, PLINK and PRS-CS
### b38 -- TOPMed imputed
VALIDATIONDATA="/hpc/dhl_ec/data/DATA_imputation_2023/aegscombo/_topmed_r3_f10_b38"
VALIDATIONPREFIX="data.topmed_r3_f10_b38.split_norm_af_filter.8bit.chr"
### b37 version -- deprecated
### VALIDATIONDATA="/hpc/dhl_ec/data/DATA_COMBINED_EAGLE2_1000Gp3v5HRCr11"
### VALIDATIONPREFIX="data.qc.1kgp3hrcr11.idfix.rsid.8bit.chr"
VAL_REF_POS="ref-first"
#
# REQUIRED: sample file
# Should be in this format: https://www.well.ox.ac.uk/~gav/qctool_v2/documentation/sample_file_formats.html.
# The sample file is only required for retrieving the sample IDs. Phenotypes and covariates are not required, 
# except for by PRSice, which requires a single phenotype (PRSICE_PHENOTYPE) to fit the PGS to. Note that the samples in the sample file 
# should have the same order as the samples in the bgen files, some methods (PRSice at least) will otherwise return an error.
# SAMPLE_FILE               -- path to the sample file, e.g.:
#                              b38: "/hpc/dhl_ec/data/DATA_COMBINED_EAGLE2_1000Gp3v5HRCr11/data.qc.1kgp3hrcr11.idfix.rsid.8bit.sample"
#                              b37: "/hpc/dhl_ec/data/DATA_imputation_2023/aegscombo/_topmed_r3_f10_b38/data.topmed_r3_f10_b38.split_norm_af_filter.8bit.sample"
# This file looks like this - note that the 'sex' column can be empty:
ID_1 ID_2 missing sex
0 0 0 D
0 SampleID1 0 M
0 SampleID2 0 NA
0 SampleID3 0 F
#
# PRSICE_PHENOTYPE          -- phenotype for which PRSice will compute a set of risk scores, this phenotype must be present in the sample file (PRSice only)
#                              and must have at least 2 distinct values
# PRSICE_PHENOTYPE_BINARY   -- [TRUE/FALSE] indicating whether PRSICE_PHENOTYPE contains a binary phenotype
### b38
SAMPLE_FILE="/hpc/dhl_ec/data/DATA_QC_imputation_2023/aegscombo/_topmed_r3_f10_b38/data.topmed_r3_f10_b38.split_norm_af_filter.8bit.sample"
### b37 version -- deprecated
### SAMPLE_FILE="/hpc/dhl_ec/data/DATA_COMBINED_EAGLE2_1000Gp3v5HRCr11/data.qc.1kgp3hrcr11.idfix.rsid.8bit.sample"
PRSICE_PHENOTYPE=""
PRSICE_PHENOTYPE_BINARY=""
#
### OPTIONAL: stats file used for quality control
# Note that quality control can only be performed if the variant ID columns in the stats file (STATS_ID_COL) and in the base file (BF_ID_COL) match.
# The stats file must be .gz compressed, white space delimited and the first line must be the header.
# STATS_FILE                -- path to the stats file
# STATS_ID_COL              -- name of the stats file column containing the SNP IDs
# STATS_MAF_COL             -- name of the stats file column containing the minor allele frequency
# STATS_INFO_COL            -- name of the stats file column containing the imputation score
STATS_FILE=""
STATS_ID_COL=""
STATS_MAF_COL=""
STATS_INFO_COL=""
#
# =================================================================================================================================================================
# =-----------------------------------------------------------               PERFORMANCE               -----------------------------------------------------------=
# =================================================================================================================================================================
#
### REQUIRED: run-time [days-hours:minutes:seconds] dedicated to each sub-job
RUNTIME_QC="12:00:00"
RUNTIME_PLINKSCORE="12:00:00"
RUNTIME_PLINKSUM="12:00:00"
RUNTIME_RAPIDO="120:00:00"
RUNTIME_PRSICE="12:00:00"
RUNTIME_PRSCS="120:00:00"
RUNTIME_PRSCS_format="12:00:00"
#
### REQUIRED: memory [K|M|G|T] dedicated to each sub-job
MEMORY_QC="10G"
MEMORY_PLINKSCORE="40G"
MEMORY_PLINKSUM="40G"
MEMORY_RAPIDO="60G"
MEMORY_PRSICE="40G"
MEMORY_PRSCS="120G"
MEMORY_PRSCS_format="40G"
#
### REQUIRED: CPUs, some PRS methods support multithreading, some do not, and for some is has not been implemented yet
PRSICE_CPUS="12"
PRSCS_CPUS="12"
# 
# =================================================================================================================================================================
# =-----------------------------------------------------------         METHOD SPECIFIC SETTINGS        -----------------------------------------------------------=
# =================================================================================================================================================================
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ PRSICE settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# PRSice calculates the PRS for all individuals in the target population for a given phenotype.
# For more on PRSice parameters go here: https://www.prsice.info/command_detail/.
# PRSICE_EXTRACT            -- file containing SNPs to be included in the analysis, PRSice will return an error if it runs into duplicate SNPs, in this case it will 
#                              write the non-duplicate SNPs to a file in the working directory, put the path to the generated file in this parameter to avoid this error
# PRSICE_EXCLUDE            -- file containing SNPs to be excluded from the analysis
# PRSICE_CLUMP_KB           -- distance for clumping in kb, the default is "250"
# PRSICE_CLUMP_P            -- P-value threshold used for clumping, default is "1"
# PRSICE_CLUMP_R2           -- r2 threshold for clumping, default is "0.1"
# PRSICE_PERM               -- number of permutations to perform, default is "10000"
# PRSICE_THREADS            -- number of threads to use, e.g. "20", if set to "max" the number of threads will be derived from the amount of dedicated CPUs (PRSICE_CPUS)
# PRSICE_SETTINGS           -- some (not all) additional settings for PRSice, e.g. PRSICE_SETTINGS="--no-clump --print-snp --extract PRSice.valid --score sum --missing center"
#   --score                 -- method to calculate the polygenic score [avg/std/con-std/sum], e.g. "--score sum"
#       avg                  - take the average effect size (default)
#       std                  - standardize the effect size
#       con-std              - standardize the effect size using mean and SD derived from control samples
#       sum                  - direct summation of the effect size
#   --missing               -- way to handle missing genotypes
#       mean_impute          - missing genotypes contribute an amount proportional to imputed frequency (default)
#       set_zero             - throw out missing observations
#       center               - shift all scores to mean zero
#   --no-clump              -- don't use clump if you already filtered the data; in case of most GWAS results you do want to use clumping
#   --print-snp             -- print a list of SNPs used at the end in the modeling
#   --all-score             -- print out all the calculated scores for each P-value threshold, handy if you want to do some offline modeling down the road,
#                              this will generate a huge file
#   --seed [seed]           -- random number used for permutation, e.g. "91149214", usefull for when you would like 
#                              to be able to generate identical results when providing the same input
#   --no-default            -- remove all default options, including the default behaviour of PRSice of searching for MAF and info columns in the base file and
#                              using those to filter SNPs 
#   --allow-inter           -- allow the generation of a large intermediate file to speed up the calculation 
#   --fastscore             -- only calculate the PRS for threshold(s) set within the bar level
#   --all-score             -- gives the PRS for each individual at all thresholds specified by --bar-levels, instead of only the PRS for each individual 
#                              that explains most of the variation in the phenotype
#   --bar-levels [levels]   -- level(s) of barchart to be plotted, e.g. "0.05,0.1"
PRSICE_EXTRACT=""
PRSICE_EXCLUDE=""
PRSICE_CLUMP_KB="250"
PRSICE_CLUMP_P="1"
PRSICE_CLUMP_R2="0.1"
PRSICE_PERM="10000"
PRSICE_THREADS="max"
PRSICE_SETTINGS="--score sum --seed 91149214 --no-default --allow-inter --missing center --bar-levels 0.000000005,0.00000005,0.0000005,0.000005,0.00005,0.0005,0.005,0.05,0.1,0.2,0.3,0.4,0.5,1 --fastscore"
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ LDpred settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# Parameters for LDpred *currently not implemented*
# LDPREDDIR                 -- where the LDpred directory resides
# LDPREDSYNC                -- python script to synchronise files
# LDPRED                    -- python script that implements the LDpred LD-correction of GWAS summary statistics
# LDPREDPRS                 -- python script to calculate polygenic scores
# LDPREDDIR="${SOFTWARE}/ldpred"
# LDPREDSYNC="${LDPREDDIR}/ldpred/coord_genotypes.py"
# LDPRED="${LDPREDDIR}/ldpred/LDpred.py"
# LDPREDPRS="${LDPREDDIR}/ldpred/validate.py"
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+  PLINK settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# Below the parameters for the PLINK allelic scoring function. This function is also used by RapidoPGS and PRS-CS as those are only able to compute effect sizes.
# Note that within this toolkit, PLINK is set to calculate the sum of the allele scores instead of the default average allele score. The reason behind this is 
# that if we were to calculate the average for each chromosome, we would not be able to take the sum of all chromosomes.
# More on PLINK --score parameters: https://www.cog-genomics.org/plink/2.0/score
# PLINK_SETTINGS            -- optional settings of PLINK, e.g. "center no-mean-imputation se zs"
#   Dosage modifiers        -- modify the default allelic dosages (you can only pick one)
#      center                - translates all dosages to mean zero
#      variance-standardize  - transforms each variant's dosage vector to have mean zero, variance 1
#      dominant              - causes dosages greater than 1 to be treated as 1
#      recessive             - uses max(dosage-1,0) on diploid chromosomes
#   no-mean-imputation      -- throw out missing observations (default is to apply mean-imputation - similar to PRSice2 [https://choishingwan.github.io/PRSice/command_detail/])
#   se                      -- causes the input coefficients to be treated as independent standard errors
#   ignore-dup-ids          -- don't throw an error when variant IDs occur multiple times in the input file (still prints warning)
#   list variants[-zs]      -- write the variant IDs used for scoring to 'plink2.sscore.vars[.zst]'
PLINK_SETTINGS=""
#
# +=+==+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+ RAPIDOPGS settings +=+=+=+=++=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# More on RapidoPGS parameters: https://rdrr.io/github/GRealesM/RapidoPGS/man/rapidopgs_single.html
# RP_filt_threshold         -- scalar indicating the ppi threshold (if filt_threshold < 1) or the number of top SNPs by absolute weights (if filt_threshold >= 1)
#                              to filter the dataset after PGS computation. If NULL (DEFAULT), no thresholding will be applied
# RP_recalc                 -- logical [TRUE/FALSE] indicating if weights should be recalculated after thresholding, only relevant if filt_threshold is defined
# RP_ppi                    -- scalar representing the prior probability, default is "1e-04"
# RP_prior                  -- the prior specifies that BETA at causal SNPs follows a centred normal distribution with standard deviation sd.prior,
#                              sensible and widely used DEFAULTs are 0.2 for case control traits, and 0.15 * var(trait) for quantitative (selected if trait == "quant")
# RP_REF                    -- path to the reference file the SNPs should be filtered and aligned to, this file should have 5 columns (CHR, BP, SNPID, REF and ALT)
#                              and should be in the same build as the summary statistics
RP_filt_threshold="0.5"
RP_recalc="FALSE"
RP_ppi="1e-04"
RP_prior="0.2"
RP_REF=""       
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ PRS-CS settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# For a more detailed description of PRS-CS parameters go to https://github.com/getian107/PRScs.
# PRSCS_THREADS             -- maximum amount of threads, when empty, PRS-CS uses the maximum amount of threads of the CPUS dedicated to the job
# BIM_FILE_AVAILABLE        -- [YES/NO] indicating if a .bim file is already available, in this case BIM_FILE_PATH should also be specified, a .bim file can be 
#                               retrieved from the tmp files of a previous run (https://www.cog-genomics.org/plink/2.0/formats#bim) and is specific to the validation dataset
# BIM_FILE_PATH             -- path to the .bim file 
# PRSCS_SETTINGS            -- optional settings of PRS-CS (e.g. PRSCS_SETTINGS="--a 1 --b 0.5 --chrom 1,3,5")
#   --a [value]             -- parameter a in the gamma-gamma prior, default is 1
#   --b [value]             -- parameter b in the gamma-gamma prior, default is 0.5
#   --phi [value]           -- global shrinkage parameter, e.g. "1e-6", if not specified phi will be learned from the data
#   --n_iter [int]          -- total number of MCMC iterations, default is 1000
#   --n_burnin [int]        -- number of burnin iterations, default is 500
#   --thin [int]            -- thinning factor of the Markov chain, default is 5
#   --chrom [list]          -- the chromosome(s) on which the model is fitted, separated by comma, e.g. 1,3,5, default is iterating through chromosomes 1-22
#   --beta_std [bool]       -- [True/False] whether to return standardized posterior SNP effect sizes, default is False
#   --seed [int]            -- non-negative integer which seeds the random number generator
PRSCS_THREADS=""
BIM_FILE_AVAILABLE="NO"
BIM_FILE_PATH=""
PRSCS_SETTINGS=""