### CONFIGURATION FILE FOR PRSTOOLKIT ###
# Set the directory variables and parameters, the order doesn't matter.
#
# Note:
# - In addition to this configuration file, the SLURM settings of the main file (prstoolkit.sh) need to be manually configured as well.
# - Precede your comments with a #-sign.
# - Don't end the directory variables with '/' (forward-slash)!
# - When asked for the index of a column, always start counting from 1 unless stated otherwise.
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                 GENERAL                 -----------------------------------------------------------=
# =================================================================================================================================================================
# REQUIRED: indicate what method to use [LDPRED/MANUAL/PLINK/PRSICE/RAPIDOPGS/PRSCS]
# LDPRED                    -- use LDpred to LD-correct GWAS summary statistics and calculate polygenic scores *not implemented yet*
# MANUAL                    -- use an in-house developed Rscript to calculate a polygenic score using a limited set of variants *not implemented yet*
# PLINK                     -- use PLINK to calculate scores, GWAS summary statistics will be LD-pruned using p-value thresholds
# PRSICE                    -- use PRSice to calculate scores, GWAS summary statistics will be LD-pruned using p-value thresholds (new approach, fast) *not implemented yet*
# RAPIDOPGS                 -- 
# PRSCS                     -- 
PRSMETHOD="RAPIDOPGS"
#
# REQUIRED: Name of the project.
PROJECTNAME="CAD"
#
### REQUIRED: Directory settings ###
# PROJECTDIR                -- path to where the main analysis directory resides
# OUTPUTDIRNAME             -- path_to where the main gene-based analysis output directory resides.
# SUBPROJECTDIRNAME         -- name of (sub)project -- this will be used to create subfolders within the 
#                              OUTPUTDIR. This could be name of a specific (sub-) analysis, for instance
#                              sex-stratification, or correction for cov1+cov2 (model1) vs. cov1+cov2+cov3 (model2).
# TEMPDIRNAME               -- name of the working directory within the main analysis directory, used for temporary files
PROJECTDIR="/hpc/dhl_ec/aligterink/ProjectFiles"
OUTPUTDIRNAME="RESULTS"
SUBPROJECTDIRNAME="NORMAL"
TEMPDIRNAME="tmp"
LOGDIRNAME="logs"
#
### REQUIRED: quality control settings ###
# QC                        -- indicate whether quality control should be applied according the below specs [YES/NO]
# MAF                       -- minimum minor allele frequency to keep variants, e.g. "0.005"
# HWE                       -- Hardy-Weinberg equilibrium p-value at which to drop variants, e.g. "1E-6" *not implemented yet*
# INFO                      -- minimum imputation quality score to keep variants, e.g. "0.3"
# THRESHOLD                 -- threshold below which imputed dosages/probabilities are set to missing when converting to hard-coded genotypes *not implemented yet*
QC="NO"
MAF="0.005"
INFO="0.3"
#
# REQUIRED: keep the files temporarily generated by the PRSToolKit at the end of a job [YES/NO]
# Note: the tmp folder is still cleared at the start of each job
KEEP_TEMP_FILES="YES"
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                 SOFTWARE                -----------------------------------------------------------=
# =================================================================================================================================================================
# REQUIRED: path to where the software resides on the server
SOFTWARE="/hpc/local/CentOS7/dhl_ec/software"
#
# REQUIRED: path to where PRSTOOLKIT resides on the server
PRSTOOLKITDIR="/home/dhl_ec/aligterink/PRSToolKit"
PRSTOOLKITSCRIPTS="${PRSTOOLKITDIR}/SCRIPTS"
PRSTOOLKITRESOURCES="${PRSTOOLKITDIR}/RESOURCES"
#
# REQUIRED: path to the Rscript executable for executing R scripts
RSCRIPTPATH="${SOFTWARE}/R-3.6.3/R-3.6.3/bin/Rscript"
#
# REQUIRED: path to the Python executable for executing Python scripts
PYTHONPATH="${SOFTWARE}/python37/bin/python3.7"
#
# REQUIRED: path to the different PRS method executables
PRSICE2_R="${SOFTWARE}/PRSice_linux_233/PRSice.R"
PRSICE2_SH="${SOFTWARE}/PRSice_linux_233/PRSice_linux"
PLINK="${SOFTWARE}/plink2_linux_x86_64_20200124_alpha_v2.3_final/plink2"
PRSCS="${SOFTWARE}/PRScs_04Jan2021/PRScs.py"
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                   DATA                  -----------------------------------------------------------=
# =================================================================================================================================================================
### REQUIRED: base file format 
# BF_BUILD                  -- build of the base file, e.g. "hg19" or "hg38"
# BF_SNP_COL                -- name of the SNP ID column in the base file
# BF_CHR_COL                -- name of the chromosome column in the base file
# BF_POS_COL                -- name of the position column in the base file
# BF_A1_COL                 -- name of the reference allele column in the base file
# BF_A2_COL                 -- name of the alternative allele column in the base file
# BF_MEASURE                -- 
# BF_MSR_COL                -- name of the beta/log(OR)/effect size column in the base file
# BF_FRQ_COL                -- name of the allele frequency column in the base file
# BF_WFRQ                   -- "effect" if the BF_FRQ_COL points to the effect allele frequence, "alt" if it points to the alternative allele frequency
# BF_SE_COL                 -- name of the column of the standard error of the beta/log(OR)/effect size value in the base file
# BF_PVALUE_COL             -- 
# BF_SBJ_COL                -- 
BF_BUILD="hg19"
BF_SNP_COL="snptestid"
BF_CHR_COL="chr"
BF_POS_COL="bp_hg19"
BF_A1_COL="effect_allele"
BF_A2_COL="noneffect_allele"
BF_MEASURE="OR"
BF_MSR_COL="logOR"
BF_FRQ_COL="effect_allele_freq"
BF_WFRQ="effect"
BF_SE_COL="se_gc"
BF_PVALUE_COL="p.value_gc"
BF_SBJ_COL="n_samples"
#
### REQUIRED: path to where the validation data (to calculate polygenic scores in) resides.
# VALIDATIONDATA            -- path to the directory containing the validation data
# VALIDATIONFILE            -- file name of validation excluding the chr-number and extension, e.g. 'aegs_combo_1kGp3GoNL5_RAW_chr'
VALIDATIONDATA="/hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11"
VALIDATIONPREFIX="aegs.qc.1kgp3hrcr11.idfix.chr"
#
# REQUIRED: path to where the LD reference data resides.
#LDDATA="${SOFTWARE}/MetaGWASToolKit/RESOURCES/1000Gp3v5_EUR/1000Gp3v5.20130502.EUR.noDup.[BED/BIM/FAM]"
LDDATA="/hpc/dhl_ec/aligterink/ProjectFiles/PRS-CS_reference_data/ldblk_1kg_eur" # For PRS-CS
#
# REQUIRED: validation dataset name and format.
# VALIDATIONNAME    -- name of the validation data
# VALIDATIONFORMAT  -- format in which the validation data is encoded [options: OXFORD/VCF/PLINK]
#                      based on this information PRSToolKit will automagically perform QC
#                      and if needed parse the data to PLINK-format.
# POPULATION        -- indicate the population of which the validation and the LD-reference are drawn [PAN/EUR/SAS/EAS/AMR/AFR]
# REFERENCE         -- indicate the version of the LD-reference [1kGp1/1kGp3/1kGp3GoNL5/HRCr11/GoNL4/HM2]
VALIDATIONNAME="AEGS"
VALIDATIONFORMAT="VCF"
POPULATION="EUR"
REFERENCE="1kGp3GoNL5"
#
PHENOTYPEFILE="/home/dhl_ec/aligterink/ProjectFiles/aegscombo_phenocov.pheno"
COVARIATESFILE="/home/dhl_ec/aligterink/ProjectFiles/aegscombo_phenocov.pheno"
EXCLUSION="/home/dhl_ec/aligterink/ProjectFiles/aegscombo.exclusion_nonCEA.list"
EXTRACTFILE="/hpc/dhl_ec/svanderlaan/projects/polygenicscores/PRSICEUKBB/PRSice.valid"
#
SAMPLE_FILE="/hpc/dhl_ec/aligterink/ProjectFiles/sample_data/20210309.LOOKUP.AEGS123.MFfix.lim.sample"
SAMPLE_FID_COL="1"
SAMPLE_IID_COL="2"
#
### OPTIONAL: stats file used for quality control
# BF_FRQ_COL                -- name of the allele frequency column in the base file
# STATS_FILE                -- path to the stats file
# STATS_ID_COL              -- name of the stats file column containing the SNP IDs
# STATS_MAF_COL             -- name of the stats file column containing the minor allele frequency
# STATS_INFO_COL            -- name of the stats file column containing the imputation score
STATS_FILE="/hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11/aegs.qc.1kgp3hrcr11.sumstats.txt.gz"
STATS_ID_COL="rsid"
STATS_MAF_COL="all_maf"
STATS_INFO_COL="info"
#
# =================================================================================================================================================================
# =-----------------------------------------------------------               PERFORMANCE               -----------------------------------------------------------=
# =================================================================================================================================================================
#
### REQUIRED: mail settings
# MAIL                      -- change this to your mail
# MAIL_OPTIONS              -- mail events (NONE, BEGIN, END, FAIL, ALL), combine using commas, e.g. "END,FAIL"
MAIL="a.j.ligterink@umcutrecht.nl"
MAIL_OPTIONS="NONE"
#
### REQUIRED: run-time [days-hours:minutes:seconds] dedicated to each sub-job
RUNTIME_QC="12:00:00"
RUNTIME_PLINKSCORE="12:00:00"
RUNTIME_PLINKSUM="12:00:00"
RUNTIME_RAPIDO="12:00:00"
### REQUIRED: memory [K|M|G|T] dedicated to each sub-job
MEMORY_QC="40G"
MEMORY_PLINKSCORE="40G"
MEMORY_PLINKSUM="40G"
MEMORY_RAPIDO="40G"
#
#
#
#SBATCH --job-name="PRS workflow"                                 #Job name
#SBATCH --output=/home/dhl_ec/aligterink/logs/batchjob_%j.log     # Standard output and error log
#SBATCH --mail-user=a.j.ligterink@umcutrecht.nl                   # Mail
#SBATCH --mail-type=NONE		                                  # Mail events (NONE, BEGIN, END, FAIL, ALL)
#SBATCH --time=20:00:00                                           # Time limit hrs:min:sec
#SBATCH --mem=4gb                                                 # RAM required per node
# 
# =================================================================================================================================================================
# =-----------------------------------------------------------         METHOD SPECIFIC SETTINGS        -----------------------------------------------------------=
# =================================================================================================================================================================
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ PRSICE2 settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
### --no-clump:  don't use clump if you already filtered the data; in case of most GWAS results
###              you do want to use clumping
### --print-snp: print a list of SNPs used in the end in the modeling
### --all-score: you want to print out all the calculated scores for each p-value threshold,
###              handy if you want to do some offline modeling down the road
### --extract:   the first time you run PRSice it will stop and state "you should --extract"
###              to include only the valid variants. You can re-run doing just that...
# PRSICESETTINGS="--no-clump --print-snp --extract PRSice.valid --score sum --missing center --all-score --perm 10000"
# PRSICESETTINGS="--print-snp --extract PRSice.valid --score sum --all-score "
#PRSICESETTINGS="--print-snp --extract ${EXTRACTFILE} --score sum --all-score "
PRSICESETTINGS="--score sum"
PRSICEPLOTTING="--fastscore --bar-col-high #E55738 --bar-col-low #1290D9 --quantile 100 --quant-break 2.5,5,10,20,40,60,80,90,95,97.5,100 --quant-ref 60"
PRSICETHREADS="8"
PRSICESEED="91149214" # just a random number
PRSICEBARLEVELS="0.00000005,0.0000005,0.000005,0.00005,0.0005,0.005,0.05,0.1,0.2,0.3,0.4,0.5,1"
SCORETYPE="PRSsum" # you can use different scoring algorithms, 'sum', or 'average', etc.
DATATYPE="BED" # you can use the Oxford-style BGEN format or the PLINK-style BED format
PERMUTATION="NOPERM_NOCENTER" # be explicit in the output-file name: did you use permutation, center?
STATTYPE="--or" #'--beta' or '--or'
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ LDpred settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# LDPREDDIR                 -- where the LDpred directory resides
# LDPREDSYNC                -- python script to synchronise files
# LDPRED                    -- python script that implements the LDpred LD-correction of GWAS summary statistics
# LDPREDPRS                 -- python script to calculate polygenic scores
LDPREDDIR="${SOFTWARE}/ldpred"
LDPREDSYNC="${LDPREDDIR}/ldpred/coord_genotypes.py"
LDPRED="${LDPREDDIR}/ldpred/LDpred.py"
LDPREDPRS="${LDPREDDIR}/ldpred/validate.py"
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+  PLINK settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# Below the parameters for the PLINK allelic scoring function. This function is also used by RapidoPGS and PRScs, 
# in which case only the PLINK_REF_POS and PLINK_SETTINGS parameters are required (the other parameters are predetermined).
# More on PLINK --score parameters: https://www.cog-genomics.org/plink/2.0/score
# PLINK_VARIANT_ID_COL      -- index of the column containing the SNP ID in the base file
# PLINK_ALLELE_COL          -- index of the column containing the allele code in the base file
# PLINK_SCORE_COL           -- index of the column containing the score associated with the named allele in the base file
# PLINK_HEADER              -- "header" in case the file contains a header, this causes the first line to be ignored, otherwise ""
# PLINK_REF_POS             -- position of the reference allele in the .bgen file relative to the alternative allele, 
#                              "ref-first", "ref-last" or "ref-unknown"
# PLINK_SETTINGS            -- optional settings of PLINK, e.g. "center no-mean-imputation se zs"
#   Dosage modifiers        -- modify the default allelic dosages (you can only pick one)
#      center               -- translates all dosages to mean zero
#      variance-standardize -- transforms each variant's dosage vector to have mean zero, variance 1
#      dominant             -- causes dosages greater than 1 to be treated as 1
#      recessive            -- uses max(dosage-1,0) on diploid chromosomes
#   no-mean-imputation      -- throw out missing observations
#   se                      -- causes the input coefficients to be treated as independent standard errors
#   ignore-dup-ids          -- don't throw an error when variant IDs occur multiple times in the input file (still prints warning)
#   list variants[-zs]      -- write the variant IDs used for scoring to 'plink2.sscore.vars[.zst]'
PLINK_VARIANT_ID_COL="2"
PLINK_ALLELE_COL="5"
PLINK_SCORE_COL="8"
PLINK_HEADER="header"
PLINK_REF_POS="ref-first"
PLINK_SETTINGS=""
#
# PLINK_IMPUTATION=
# PLINK_INCLUDE_CNT=
# PLINK_DOSAGE=
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ PRS-CS settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# For a more detailed description of PRS-CS parameters go to https://github.com/getian107/PRScs
# BIM_FILE_AVAILABLE        -- [YES/NO] indicating if a .bim file is already available, in this case BIM_FILE_PATH should also be specified
#                              a .bim file can be retrieved from the tmp files of a previous run (https://www.cog-genomics.org/plink/2.0/formats#bim)
# BIM_FILE_PATH             -- path to the .bim file 
# GWAS_SAMPLE_SIZE          -- sample size of the GWAS
# PRSCS_SETTINGS            -- optional settings of PRS-CS (e.g. PRSCS_SETTINGS="--a 1 --b 0.5 --chrom 1,3,5")
#   --a                     -- parameter a in the gamma-gamma prior, default is 1
#   --b                     -- parameter b in the gamma-gamma prior, default is 0.5
#   --phi                   -- global shrinkage parameter, default is no value
#   --n_iter                -- total number of MCMC iterations, default is 1000
#   --n_burnin              -- number of burnin iterations, default is 500
#   --thin                  -- thinning factor of the Markov chain, default is 5
#   --chrom                 -- the chromosome(s) on which the model is fitted, separated by comma, e.g. 1,3,5
#   --beta_std              -- if True, return standardized posterior SNP effect sizes, default is False
#   --seed                  -- non-negative integer which seeds the random number generator
BIM_FILE_AVAILABLE="YES"
BIM_FILE_PATH="/hpc/dhl_ec/aligterink/ProjectFiles/PRSCS/COMBINED_VALIDATION.bim"
GWAS_SAMPLE_SIZE="100000"
PRSCS_SETTINGS=""