### CONFIGURATION FILE FOR PRSTOOLKIT ###
#
# Precede your comments with a #-sign.
# Set the directory variables, the order doesn't matter.
# Don't end the directory variables with '/' (forward-slash)!
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                 GENERAL                 -----------------------------------------------------------=
# =================================================================================================================================================================
# REQUIRED: indicate what method to use [LDPRED/PLINK/PRSICE]
# LDPRED   -- use LDpred to LD-correct GWAS summary statistics and calculate polygenic scores [default]
# MANUAL   -- use an in-house developed Rscript to calculate a polygenic score using a limited set of variants *not implemented yet*
# PLINK    -- use PLINK to calculate scores, GWAS summary statistics will be LD-pruned using p-value thresholds (traditional approach, slow) *not implemented yet*
# PRSICE2   -- use PRSice to calculate scores, GWAS summary statistics will be LD-pruned using p-value thresholds (new approach, fast) *not implemented yet*
PRSMETHOD="RAPIDOPGS"
#
# REQUIRED: Name of the project.
PROJECTNAME="CAD"
#
# REQUIRED: Path_to where the main analysis directory resides.
PROJECTDIR="/home/dhl_ec/aligterink/ProjectFiles"
#
# REQUIRED: Name of (sub)project -- this will be used to create subfolders within the 
# OUTPUTDIR. This could be name of a specific (sub-) analysis, for instance
# sex-stratification, or correction for cov1+cov2 (model1) vs. cov1+cov2+cov3 (model2).
SUBPROJECTDIRNAME="NORMAL"
#
# REQUIRED: Path_to where the main gene-based analysis output directory resides.
OUTPUTDIRNAME="RESULTS"
#
# REQUIRED: validation dataset quality control settings.
# VALIDATIONQC    -- indicate whether quality control should be applied according the below specs [YES/NO]
# MAF             -- minimum minor allele frequency to keep variants, e.g. "0.005"
# HWE             -- Hardy-Weinberg equilibrium p-value at which to drop variants, e.g. "1E-6"
# INFO            -- minimum imputation quality score to keep variants, e.g. "0.3"
# THRESHOLD       -- threshold below which imputed dosages/probabilities are set to missing when converting to hard-coded genotypes
VALIDATIONQC="NO"
MAF="0.005"
HWE="1E-3"
INFO="0.3"
THRESHOLD="0.9"
#
#BINARYTRAITS=("Calcification_bin" "Collagen_bin" "Fat10_bin" "Fat40_bin" "Macrophages_bin" "SMC_bin" "IPH")
CONTINUOUSTRAITS=("Macrophages_BC" "Mastcells_BC" "Neutrophils_BC" "SMC_BC" "VesselDensityAvg_BC")
BINARYTRAITS=("Calcification_bin")
COVARIATES="sex,Age,OR_year,@PC[1-4],COHORT"
COVARIATESFACTOR="sex"
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                 SOFTWARE                -----------------------------------------------------------=
# =================================================================================================================================================================
# REQUIRED: Path_to where the software resides on the server. 
SOFTWARE="/hpc/local/CentOS7/dhl_ec/software"
RSCRIPTPATH="${SOFTWARE}/R-3.6.3/R-3.6.3/bin/Rscript"
PYTHONPATH="${SOFTWARE}/python37/bin/python3.7"
#
# REQUIRED: path to the different PRS method executables
PRSICE2R="${SOFTWARE}/PRSice_linux_233/PRSice.R"
PRSICE2SH="${SOFTWARE}/PRSice_linux_233/PRSice_linux"
PLINK="${SOFTWARE}/plink_v1.9"
PRSCS="${SOFTWARE}/PRScs_04Jan2021/PRScs.py"
#
# REQUIRED: Path_to where PRSTOOLKIT resides on the server. 
PRSTOOLKITDIR="/home/dhl_ec/aligterink/PRSToolKit"
PRSTOOLKITSCRIPTS="${PRSTOOLKITDIR}/SCRIPTS"
PRSTOOLKITRESOURCES="${PRSTOOLKITDIR}/RESOURCES"
# =================================================================================================================================================================
# =-----------------------------------------------------------                   DATA                  -----------------------------------------------------------=
# =================================================================================================================================================================
# Base file format
SNPID="snptestid"
CHRID="chr"
BPID="bp_hg19"
A1ID="effect_allele"
A2ID="noneffect_allele"
STATID="logOR"
PVALUEID="p-value_gc"
#
# REQUIRED: Path_to the validation data (to calculate polygenic scores in) resides.
# VALIDATIONDATA  -- path to the directory containing the validation data
# VALIDATIONFILE  -- file name of validation excluding the chr-number and extension, e.g. 'aegs_combo_1kGp3GoNL5_RAW_chr'
#VALIDATIONDATA="/hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11" # autosomal chromosomes
#VALIDATIONFILE="aegs.qc.1kgp3hrcr11.idfix.chr" # autosomal chromosomes
VALIDATIONDATA="/hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11/_chr23_1kg_gonl5/aegs.1kgp3gonl5.idfix.chrX" # X chromosome
#VALIDATIONFILE="aegs.1kgp3gonl5.idfix.chrX.bgen" # X chromosome
#
# REQUIRED: Path_to the LD reference data resides.
LDDATA="${SOFTWARE}/MetaGWASToolKit/RESOURCES/1000Gp3v5_EUR/1000Gp3v5.20130502.EUR.noDup.[BED/BIM/FAM]"
#
# REQUIRED: validation dataset name and format.
# VALIDATIONNAME    -- name of the validation data
# VALIDATIONFORMAT  -- format in which the validation data is encoded [options: OXFORD/VCF/PLINK]
#                      based on this information PRSToolKit will automagically perform QC
#                      and if needed parse the data to PLINK-format.
# POPULATION        -- indicate the population of which the validation and the LD-reference are drawn [PAN/EUR/SAS/EAS/AMR/AFR]
# REFERENCE         -- indicate the version of the LD-reference [1kGp1/1kGp3/1kGp3GoNL5/HRCr11/GoNL4/HM2]
VALIDATIONNAME="AEGS"
VALIDATIONFORMAT="VCF"
POPULATION="EUR"
REFERENCE="1kGp3GoNL5"
#
PHENOTYPEFILE="/home/dhl_ec/aligterink/ProjectFiles/aegscombo_phenocov.pheno"
COVARIATESFILE="/home/dhl_ec/aligterink/ProjectFiles/aegscombo_phenocov.pheno"
# are these 2 prsice specific?
EXCLUSION="/home/dhl_ec/aligterink/ProjectFiles/aegscombo.exclusion_nonCEA.list"
EXTRACTFILE="/hpc/dhl_ec/svanderlaan/projects/polygenicscores/PRSICEUKBB/PRSice.valid"
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                  SBATCH                 -----------------------------------------------------------=
# =================================================================================================================================================================
#
# REQUIRED: QSUB settings -- ONLY change what is indicated.
# Run time
QRUNTIME="00:15:00"
QRUNTIMEFILTER="00:30:00"
QRUNTIMECONVERT="00:30:00"
QRUNTIMELDPRUNE="01:00:00"
QRUNTIMELDPRED="01:00:00"
# Run memory
QMEM="4G"
QMEMFILTER="8G"
QMEMCONVERT="8G"
QMEMLDPRUNE="32G"
QMEMLDPRED="4G"
# CHANGE THIS TO YOUR EMAIL
QMAIL="a.j.ligterink@umcutrecht.nl"
# CHANGE THIS TO YOUR PREFERENCE
# Options: b (begin), e (end), a (abort), s (start), n (no email); combine, e.g. "ea"
QMAILOPTIONS="a"
# 
# =================================================================================================================================================================
# =-----------------------------------------------------------         METHOD SPECIFIC SETTINGS        -----------------------------------------------------------=
# =================================================================================================================================================================
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ PRSICE2 settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
### --no-clump:  don't use clump if you already filtered the data; in case of most GWAS results
###              you do want to use clumping
### --print-snp: print a list of SNPs used in the end in the modeling
### --all-score: you want to print out all the calculated scores for each p-value threshold,
###              handy if you want to do some offline modeling down the road
### --extract:   the first time you run PRSice it will stop and state "you should --extract"
###              to include only the valid variants. You can re-run doing just that...
# PRSICESETTINGS="--no-clump --print-snp --extract PRSice.valid --score sum --missing center --all-score --perm 10000"
# PRSICESETTINGS="--print-snp --extract PRSice.valid --score sum --all-score "
#PRSICESETTINGS="--print-snp --extract ${EXTRACTFILE} --score sum --all-score "
PRSICESETTINGS="--score sum"
PRSICEPLOTTING="--fastscore --bar-col-high #E55738 --bar-col-low #1290D9 --quantile 100 --quant-break 2.5,5,10,20,40,60,80,90,95,97.5,100 --quant-ref 60"
PRSICETHREADS="8"
PRSICESEED="91149214" # just a random number
PRSICEBARLEVELS="0.00000005,0.0000005,0.000005,0.00005,0.0005,0.005,0.05,0.1,0.2,0.3,0.4,0.5,1"
SCORETYPE="PRSsum" # you can use different scoring algorithms, 'sum', or 'average', etc.
DATATYPE="BED" # you can use the Oxford-style BGEN format or the PLINK-style BED format
PERMUTATION="NOPERM_NOCENTER" # be explicit in the output-file name: did you use permutation, center?
STATTYPE="--or" #'--beta' or '--or'
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ LDpred settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# LDPREDDIR       -- where the LDpred directory resides
# LDPREDSYNC      -- python script to synchronise files
# LDPRED          -- python script that implements the LDpred LD-correction of GWAS summary statistics
# LDPREDPRS       -- python script to calculate polygenic scores
LDPREDDIR="${SOFTWARE}/ldpred"
LDPREDSYNC="${LDPREDDIR}/ldpred/coord_genotypes.py"
LDPRED="${LDPREDDIR}/ldpred/LDpred.py"
LDPREDPRS="${LDPREDDIR}/ldpred/validate.py"
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+  PLINK settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
### Below the parameters for the --score option that is also used by RapidoPGS ###
PLINK_VARIANT_ID_COL=
PLINK_ALLELE_COL=
PLINK_SCORE_COL=
PLINK_HEADER=
PLINK_SUM=
PLINK_IMPUTATION=
PLINK_INCLUDE_CNT=
PLINK_DOSAGE=
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ PRS-CS settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# Required PRS-CS parameters
PRSCS_REF_DATA=
PRSCS_VALIDATION_BIM_PREFIX=
PRSCS_SST=
PRSCS_SAMPLESIZE=
PRSCS_OUTPUTDIR=
#
# Optional PRS-CS parameters
PRSCS_PARAM_A=
PRSCS_PARAM_B=
PRSCS_PARAM_PHI=
PRSCS_MCMC_ITERATIONS=


#
#
#
#
#
#
#
##### Old config file
# ### CONFIGURATION FILE FOR PRSTOOLKIT ###
# # Precede your comments with a #-sign.
# #
# # Set the directory variables, the order doesn't matter.
# # Don't end the directory variables with '/' (forward-slash)!
# #
# # REQUIRED: Path_to where the software resides on the server. 
# SOFTWARE="/hpc/local/CentOS7/dhl_ec/software"
# PLINK="${SOFTWARE}/plink_v1.9"
# # QCTOOL="${SOFTWARE}/qctool_v1.5-linux-x86_64-static/qctool"
# QCTOOL="${SOFTWARE}/qctool_20171221/bin/qctool_v2.0-rc7"
# #
# # REQUIRED: Path_to where PRSTOOLKIT resides on the server. 
# PRSTOOLKITDIR="${SOFTWARE}/PRSToolKit"
# PRSTOOLKITSCRIPTS="${PRSTOOLKITDIR}/SCRIPTS"
# PRSTOOLKITRESOURCES="${PRSTOOLKITDIR}/RESOURCES"
# #
# # REQUIRED: Path_to where the main analysis directory resides.
# PROJECTDIR="/hpc/dhl_ec/svanderlaan/projects/polygenicscores"
# #
# # REQUIRED: Name of the project.
# PROJECTNAME="CAD"
# #
# # REQUIRED: Name of (sub)project -- this will be used to create subfolders within the 
# # OUTPUTDIR. This could be name of a specific (sub-) analysis, for instance
# # sex-stratification, or correction for cov1+cov2 (model1) vs. cov1+cov2+cov3 (model2).
# SUBPROJECTDIRNAME="NORMAL"
# #
# # REQUIRED: Path_to where the main gene-based analysis output directory resides.
# OUTPUTDIRNAME="RESULTS"
# # 
# # REQUIRED: Path_to the LD reference data resides.
# # 1000Gp1v3_EUR: 1000Gp1v3.20101123.EUR.[BED/BIM/FAM]
# # 1000Gp3v5_EUR: 1000Gp3v5.20130502.EUR.[BED/BIM/FAM]
# # LDDATA="/hpc/local/CentOS7/dhl_ec/software/MetaGWASToolKit/RESOURCES/1000Gp1v3_EUR"
# LDDATA="/hpc/local/CentOS7/dhl_ec/software/MetaGWASToolKit/RESOURCES/1000Gp3v5_EUR"
# #
# # REQUIRED: QSUB settings -- ONLY change what is indicated.
# # Run time
# QRUNTIME="00:15:00"
# QRUNTIMEFILTER="00:30:00"
# QRUNTIMECONVERT="00:30:00"
# QRUNTIMELDPRUNE="01:00:00"
# QRUNTIMELDPRED="01:00:00"
# # Run memory
# QMEM="4G"
# QMEMFILTER="8G"
# QMEMCONVERT="8G"
# QMEMLDPRUNE="32G"
# QMEMLDPRED="4G"
# # CHANGE THIS TO YOUR EMAIL
# QMAIL="s.w.vanderlaan-2@umcutrecht.nl"
# # CHANGE THIS TO YOUR PREFERENCE
# # Options: b (begin), e (end), a (abort), s (start), n (no email); combine, e.g. "ea"
# QMAILOPTIONS="a"
# # 
# # REQUIRED: Path_to the validation data (to calculate polygenic scores in) resides.
# # VALIDATIONDATA  -- path to the directory containing the validation data
# # VALIDATIONFILE  -- file name of validation excluding the chr-number and extension, e.g. 'aegs_combo_1kGp3GoNL5_RAW_chr'
# # VALIDATIONDATA="/hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_IMPUTE2_BBMRI_1000Gp1v3"
# # VALIDATIONDATA="/hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_IMPUTE2_BBMRI_GoNL4"
# # VALIDATIONDATA="/hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3"
# # VALIDATIONDATA="/hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_HRC_r11_2016"
# VALIDATIONDATA="/hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_IMPUTE2_1000Gp3_GoNL5"
# VALIDATIONFILE="aegs_combo_1kGp3GoNL5_RAW_chr"
# # 
# # REQUIRED: validation dataset name and format.
# # VALIDATIONNAME    -- name of the validation data
# # VALIDATIONFORMAT  -- format in which the validation data is encoded [options: OXFORD/VCF/PLINK]
# #                      based on this information PRSToolKit will automagically perform QC
# #                      and if needed parse the data to PLINK-format.
# # POPULATION        -- indicate the population of which the validation and the LD-reference are drawn [PAN/EUR/SAS/EAS/AMR/AFR]
# # REFERENCE         -- indicate the version of the LD-reference [1kGp1/1kGp3/1kGp3GoNL5/HRCr11/GoNL4/HM2]
# VALIDATIONNAME="AEGS"
# VALIDATIONFORMAT="OXFORD"
# POPULATION="EUR"
# REFERENCE="1kGp3GoNL5"
# # 
# # REQUIRED: validation dataset quality control settings.
# # VALIDATIONQC    -- indicate whether quality control should be applied according the below specs [YES/NO]
# # MAF             -- minimum minor allele frequency to keep variants, e.g. "0.005"
# # HWE             -- Hardy-Weinberg equilibrium p-value at which to drop variants, e.g. "1E-6"
# # INFO            -- minimum imputation quality score to keep variants, e.g. "0.3"
# # THRESHOLD       -- threshold below which imputed dosages/probabilities are set to missing when converting to hard-coded genotypes
# VALIDATIONQC="YES"
# MAF="0.005"
# HWE="1E-3"
# INFO="0.3"
# THRESHOLD="0.9"
# #
# # REQUIRED: indicate what method to use [LDPRED/PLINK/PRSICE]
# # LDPRED   -- use LDpred to LD-correct GWAS summary statistics and calculate polygenic scores [default]
# # MANUAL   -- use an in-house developed Rscript to calculate a polygenic score using a limited set of variants *not implemented yet*
# # PLINK    -- use PLINK to calculate scores, GWAS summary statistics will be LD-pruned using p-value thresholds (traditional approach, slow) *not implemented yet*
# # PRSICE   -- use PRSice to calculate scores, GWAS summary statistics will be LD-pruned using p-value thresholds (new approach, fast) *not implemented yet*
# PRSMETHOD="LDPRED"
# #
# # REQUIRED: LDpred settings.
# # LDPREDDIR       -- where the LDpred directory resides
# # LDPREDSYNC      -- python script to synchronise files
# # LDPRED          -- python script that implements the LDpred LD-correction of GWAS summary statistics
# # LDPREDPRS       -- python script to calculate polygenic scores
# LDPREDDIR="${SOFTWARE}/ldpred"
# LDPREDSYNC="${LDPREDDIR}/ldpred/coord_genotypes.py"
# LDPRED="${LDPREDDIR}/ldpred/LDpred.py"
# LDPREDPRS="${LDPREDDIR}/ldpred/validate.py"