### CONFIGURATION FILE FOR PRSTOOLKIT ###
# Set the directory variables and parameters, the order doesn't matter.
#
# Note:
# - In addition to this configuration file, the SLURM settings of the main file (prstoolkit.sh) need to be manually configured as well.
# - Precede your comments with a #-sign.
# - Don't end the directory variables with '/' (forward-slash)!
# - When asked for the index of a column, always start counting from 1 unless stated otherwise.
# - Leave the "" if you would like to leave a parameter empty.
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                 GENERAL                 -----------------------------------------------------------=
# =================================================================================================================================================================
# REQUIRED: indicate what method to use [LDPRED/MANUAL/PLINK/PRSICE/RAPIDOPGS/PRSCS]
# LDPRED                    -- use LDpred to LD-correct GWAS summary statistics and calculate polygenic scores *not implemented yet*
# MANUAL                    -- use an in-house developed Rscript to calculate a polygenic score using a limited set of variants *not implemented yet*
# PLINK                     -- use PLINK to calculate scores, GWAS summary statistics will be LD-pruned using p-value thresholds
# PRSICE                    -- use PRSice to calculate scores, GWAS summary statistics will be LD-pruned using p-value thresholds (new approach, fast) *not implemented yet*
# RAPIDOPGS                 -- 
# PRSCS                     -- 
PRSMETHOD="PLINK"
#
# REQUIRED: Name of the project.
PROJECTNAME="CAD"
#
### REQUIRED: Directory settings ###
# PROJECTDIR                -- path to where the main analysis directory resides
# OUTPUTDIRNAME             -- path_to where the main gene-based analysis output directory resides.
# SUBPROJECTDIRNAME         -- name of (sub)project -- this will be used to create subfolders within the 
#                              OUTPUTDIR. This could be name of a specific (sub-) analysis, for instance
#                              sex-stratification, or correction for cov1+cov2 (model1) vs. cov1+cov2+cov3 (model2).
# MAINWORKDIR               -- name of the working directory within the main analysis directory, used for temporary files
# LOG_DIR_NAME              -- name of the subdirectory of the main analysis directory used for storing log files
PROJECTDIR="/hpc/dhl_ec/aligterink/ProjectFiles"
OUTPUTDIRNAME="RESULTS"
SUBPROJECT_DIR_NAME="NORMAL"
MAIN_WORKDIR_NAME="tmp"
LOG_DIR_NAME="logs"
#
### REQUIRED: quality control settings ###
# QC                        -- indicate whether quality control should be applied according the below specs [YES/NO]
# MAF                       -- minimum minor allele frequency to keep variants, e.g. "0.005"
# HWE                       -- Hardy-Weinberg equilibrium p-value at which to drop variants, e.g. "1E-6" *not implemented yet*
# INFO                      -- minimum imputation quality score to keep variants, e.g. "0.3"
# THRESHOLD                 -- threshold below which imputed dosages/probabilities are set to missing when converting to hard-coded genotypes *not implemented yet*
QC="YES"
MAF="0.01"
INFO="0.8"
#
# REQUIRED: keep the files temporarily generated by the PRSToolKit at the end of a job [YES/NO]
# Note: the tmp folder is still cleared at the start of each job *not implemented yet*
KEEP_TEMP_FILES="YES"
#
# REQUIRED: [TRUE/FALSE] whether to save a copy of this configuration file along with the results *not implemented yet*
SAVE_CONFIG="TRUE"
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                 SOFTWARE                -----------------------------------------------------------=
# =================================================================================================================================================================
# REQUIRED: path to where the software resides on the server
SOFTWARE="/hpc/local/CentOS7/dhl_ec/software"
#
RSCRIPT="/hpc/local/CentOS7/dhl_ec/software/R-3.6.3/bin/Rscript"
PYTHONPATH="/hpc/local/CentOS7/dhl_ec/software/python37/bin/python3.7"
#
# REQUIRED: path to where PRSTOOLKIT resides on the server
PRSTOOLKITDIR="/home/dhl_ec/aligterink/PRSToolKit"
PRSTOOLKITSCRIPTS="${PRSTOOLKITDIR}/SCRIPTS"
PRSTOOLKITRESOURCES="${PRSTOOLKITDIR}/RESOURCES"
#
# REQUIRED: paths to PRS method executables
PRSICE2_R="${SOFTWARE}/PRSice_linux_233/PRSice.R"
PRSICE2_SH="${SOFTWARE}/PRSice_linux_233/PRSice_linux"
PLINK="${SOFTWARE}/plink2_linux_x86_64_20200124_alpha_v2.3_final/plink2"
PRSCS="${SOFTWARE}/PRScs_04Jan2021/PRScs.py"
#
# =================================================================================================================================================================
# =-----------------------------------------------------------                   DATA                  -----------------------------------------------------------=
# =================================================================================================================================================================
### REQUIRED: base file format                                                                                 
# Different methods require different columns. R stands for required, O for optional.                               _______________________________________________
#                                                                                                                   | RAPIDOPGS | PLINK | PRSCS | LDPRED | PRSICE |
# BASEDATA                  -- path to the base file containing the GWAS summary data                               |     R     |   R   |   R   |    R   |    R   |
# BF_BUILD                  -- build of the base file, e.g. "hg19" or "hg38"                                        |     R     |       |       |        |        |
# BF_SNP_COL                -- name of the SNP ID column in the base file                                           |     R     |   R   |       |        |        |
# BF_CHR_COL                -- name of the chromosome column in the base file                                       |     R     |       |       |        |        |
# BF_POS_COL                -- name of the position column in the base file                                         |     R     |       |       |        |        |
# BF_EFFECT_COL             -- name of the reference allele column in the base file                                 |     R     |   R   |       |        |        |
# BF_NON_EFFECT_COL         -- name of the alternative allele column in the base file                               |     R     |       |       |        |        |
# BF_STAT                   -- type of measure in the BF_MSR_COL, either "beta" or "or"                             |           |       |   R   |        |    R   |
# BF_STAT_COL               -- name of the beta/log(OR)/effect size column in the base file                         |     R     |   R   |       |        |        |
# BF_FRQ_COL                -- name of the allele frequency column in the base file                                 |    R/O    |       |       |        |        |
#                              *required for Rapido for quantative traits only                                      |           |       |       |        |        |
# BF_WFRQ                   -- "effect" if BF_FRQ_COL points to the effect allele frequence,                        |    R/O    |       |       |        |        |
#                              "noneffect" if it points to the non-effect allele frequency                          |           |       |       |        |        |
#                              *required for Rapido for quantative traits only                                      |           |       |       |        |        |
# BF_SE_COL                 -- name of the column of the standard error of the beta/log(OR)/OR                      |     R     |       |       |        |        |
#                              value in the base file                                                               |           |       |       |        |        |
# BF_PVALUE_COL             -- name of the column containing the p-values of the assocation test                    |     R     |       |       |        |        |
# BF_SBJ_COL                -- name of the column containing the sample size                                        |    R/O    |       |       |        |        |
#                              *required for Rapido for quantative traits only                                      |           |       |       |        |        |
# BF_REF_POS                -- position of the reference allele in the .bgen file relative to the alternative       |     R     |   R   |   R   |        |        |
#                              allele, "ref-first", "ref-last" or "ref-unknown"                                     |           |       |       |        |        |
# BF_SAMPLE_SIZE            -- sample size of the GWAS, *required for Rapido for quantitative traits only           |    R/O    |       |   R   |        |        |
# BF_TARGET_TYPE            -- 
BASEDATA="/hpc/dhl_ec/aligterink/ProjectFiles/UKBB.GWAS1KG.EXOME.CAD.SOFT.META.PublicRelease.300517.txt.gz"
BF_BUILD="hg19"
BF_ID_COL="snptestid"
BF_CHR_COL="chr"
BF_POS_COL="bp_hg19"
BF_EFFECT_COL="effect_allele"
BF_NON_EFFECT_COL="noneffect_allele"
BF_STAT="or"
BF_STAT_COL="logOR"
BF_FRQ_COL="effect_allele_freq"
BF_WFRQ="effect"
BF_SE_COL="se_gc"
BF_PVALUE_COL="p-value_gc"
BF_REF_POS="ref-last"
BF_SAMPLE_SIZE="324586"
BF_TARGET_TYPE="F"
#
### REQUIRED: path to where the validation data (to calculate polygenic scores for) resides.
# VALIDATIONDATA            -- path to the directory containing the validation data, e.g. "/hpc/data/_ae_originals"
# VALIDATIONFILE            -- file name of validation excluding the chr-number and extension, e.g. "aegs_combo_1kGp3GoNL5_RAW_chr"
VALIDATIONDATA="/hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11"
VALIDATIONPREFIX="aegs.qc.1kgp3hrcr11.idfix.rsid.chr"
#
# REQUIRED: path to where the LD reference data resides.
#LDDATA="${SOFTWARE}/MetaGWASToolKit/RESOURCES/1000Gp3v5_EUR/1000Gp3v5.20130502.EUR.noDup.[BED/BIM/FAM]"
LDDATA="/hpc/dhl_ec/aligterink/ProjectFiles/PRS-CS_reference_data/ldblk_1kg_eur" # For PRS-CS
#
# REQUIRED: validation dataset name and format.
# VALIDATIONNAME            -- name of the validation data
# POPULATION                -- indicate the population of which the validation and the LD-reference are drawn [PAN/EUR/SAS/EAS/AMR/AFR]
# REFERENCE                 -- indicate the version of the LD-reference [1kGp1/1kGp3/1kGp3GoNL5/HRCr11/GoNL4/HM2]
VALIDATIONNAME="AEGS"
POPULATION="EUR"
REFERENCE="1kGp3GoNL5"
#
# REQUIRED: sample file
# Should be in this format: https://www.well.ox.ac.uk/~gav/qctool_v2/documentation/sample_file_formats.html.
# Note: the samples in the sample file should have the same order as the samples in the bgen files, 
# some methods (PRSice at least) will otherwise return an error.
# SAMPLE_FILE               -- path to the sample file
# DUMMY_PHENOTYPE           -- a dummy phenotype that is present in the sample file, required for PRSice,
#                              note: this phenotype should have at least 2 distinct values
SAMPLE_FILE="/hpc/dhl_ec/aligterink/ProjectFiles/sample_data/updated_pheno.sample"
DUMMY_PHENOTYPE="Age"
#
EXCLUSION="/home/dhl_ec/aligterink/ProjectFiles/aegscombo.exclusion_nonCEA.list"
EXTRACTFILE="/hpc/dhl_ec/svanderlaan/projects/polygenicscores/PRSICEUKBB/PRSice.valid"
#
### OPTIONAL: stats file used for quality control
# STATS_FILE                -- path to the stats file
# STATS_ID_COL              -- name of the stats file column containing the SNP IDs
# STATS_MAF_COL             -- name of the stats file column containing the minor allele frequency
# STATS_INFO_COL            -- name of the stats file column containing the imputation score
STATS_FILE="/hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11/aegs.qc.1kgp3hrcr11.sumstats.txt.gz"
STATS_ID_COL="rsid"
STATS_MAF_COL="all_maf"
STATS_INFO_COL="info"
#
# =================================================================================================================================================================
# =-----------------------------------------------------------               PERFORMANCE               -----------------------------------------------------------=
# =================================================================================================================================================================
#
### REQUIRED: mail settings
# MAIL                      -- change this to your mail
# MAIL_OPTIONS              -- mail events (NONE, BEGIN, END, FAIL, ALL), combine using commas, e.g. "END,FAIL"
MAIL="a.j.ligterink@umcutrecht.nl"
MAIL_OPTIONS="NONE"
#
### REQUIRED: run-time [days-hours:minutes:seconds] dedicated to each sub-job
RUNTIME_QC="12:00:00"
RUNTIME_PLINKSCORE="12:00:00"
RUNTIME_PLINKSUM="12:00:00"
RUNTIME_RAPIDO="12:00:00"
RUNTIME_LDPRED="12:00:00"
RUNTIME_PRSICE="12:00:00"
RUNTIME_PRSCS="12:00:00"
RUNTIME_PRSCS_format="12:00:00"
#
### REQUIRED: memory [K|M|G|T] dedicated to each sub-job
MEMORY_QC="60G"
MEMORY_PLINKSCORE="40G"
MEMORY_PLINKSUM="40G"
MEMORY_RAPIDO="40G"
MEMORY_LDPRED="10G"
MEMORY_PRSICE="40G"
MEMORY_PRSCS="90G"
MEMORY_PRSCS_format="40G"
# 
# =================================================================================================================================================================
# =-----------------------------------------------------------         METHOD SPECIFIC SETTINGS        -----------------------------------------------------------=
# =================================================================================================================================================================
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ PRSICE settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# For more on PRSice parameters go here: https://www.prsice.info/command_detail/
# PRSICE_THREADS            -- number of threads to use, e.g. "6", "max" will use the maximum amount of threads
# PRSICE_SETTINGS          --- some (not all) additional settings for PRSice, e.g. PRSICE_SETTINGS="--no-clump --print-snp --extract PRSice.valid --score sum --missing center
#   --score                 -- method to calculate the polygenic score [avg/std/con-std/sum], e.g. "--score sum"
#       avg                  - take the average effect size (default)
#       std                  - standardize the effect size
#       con-std              - standardize the effect size using mean and sd derived from control samples
#       sum                  - direct summation of the effect size
#   --no-clump              -- don't use clump if you already filtered the data; in case of most GWAS results
#                              you do want to use clumping
#   --print-snp             -- print a list of SNPs used in the end in the modeling
#   --all-score             -- print out all the calculated scores for each p-value threshold, handy if you want to do some offline modeling down the road,
#                              this will generate a huge file
#   --extract [file]        -- file containing SNPs to be included in the analysis
#   --exclude [file]        -- file containing SNPs to be excluded from the analysis
#   --seed [seed]           -- random number used for permutation, e.g. "91149214", usefull for when you would like 
#                              to be able to generate identical results when providing the same input

# PRSICESETTINGS="--no-clump --print-snp --extract PRSice.valid --score sum --missing center --all-score --perm 10000"
PRSICE_THREADS="8"
PRSICE_BARLEVELS="0.00000005,0.0000005,0.000005,0.00005,0.0005,0.005,0.05,0.1,0.2,0.3,0.4,0.5,1"
PRSICE_SETTINGS="--score sum --seed 91149214"
PRSICE_PLOTTING="--fastscore --bar-col-high #E55738 --bar-col-low #1290D9 --quantile 100 --quant-break 2.5,5,10,20,40,60,80,90,95,97.5,100 --quant-ref 60"
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ LDpred settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# LDPREDDIR                 -- where the LDpred directory resides
# LDPREDSYNC                -- python script to synchronise files
# LDPRED                    -- python script that implements the LDpred LD-correction of GWAS summary statistics
# LDPREDPRS                 -- python script to calculate polygenic scores
LDPREDDIR="${SOFTWARE}/ldpred"
LDPREDSYNC="${LDPREDDIR}/ldpred/coord_genotypes.py"
LDPRED="${LDPREDDIR}/ldpred/LDpred.py"
LDPREDPRS="${LDPREDDIR}/ldpred/validate.py"
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+  PLINK settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# Below the parameters for the PLINK allelic scoring function. This function is also used by RapidoPGS and PRS-CS.
# More on PLINK --score parameters: https://www.cog-genomics.org/plink/2.0/score
# PLINK_VARIANT_ID_COL      -- index of the column containing the SNP ID in the base file
# PLINK_ALLELE_COL          -- index of the column containing the allele code in the base file
# PLINK_SCORE_COL           -- index of the column containing the score associated with the named allele in the base file
# PLINK_SETTINGS            -- optional settings of PLINK, e.g. "center no-mean-imputation se zs"
#   Dosage modifiers        -- modify the default allelic dosages (you can only pick one)
#      center                - translates all dosages to mean zero
#      variance-standardize  - transforms each variant's dosage vector to have mean zero, variance 1
#      dominant              - causes dosages greater than 1 to be treated as 1
#      recessive             - uses max(dosage-1,0) on diploid chromosomes
#   no-mean-imputation      -- throw out missing observations
#   se                      -- causes the input coefficients to be treated as independent standard errors
#   ignore-dup-ids          -- don't throw an error when variant IDs occur multiple times in the input file (still prints warning)
#   list variants[-zs]      -- write the variant IDs used for scoring to 'plink2.sscore.vars[.zst]'
PLINK_SETTINGS=""
#
# +=+==+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+ RAPIDOPGS settings +=+=+=+=++=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# More on RapidoPGS parameters: https://rdrr.io/github/GRealesM/RapidoPGS/man/rapidopgs_single.html
# RP_filt_threshold         -- scalar indicating the ppi threshold (if filt_threshold < 1) or the number of top SNPs by absolute weights (if filt_threshold >= 1)
#                              to filter the dataset after PGS computation. If NULL (DEFAULT), no thresholding will be applied."
# RP_recalc                 -- logical [TRUE/FALSE] indicating if weights should be recalculated after thresholding, only relevant if filt_threshold is defined
# RP_trait                  -- string specifying if the dataset is a case-control "cc" or a quantitative trait "quant" GWAS, "quant" requires an ALT_FREQ_COLUMN
# RP_ppi                    -- scalar representing the prior probability, default is "1e-04"
# RP_prior                  -- the prior specifies that BETA at causal SNPs follows a centred normal distribution with standard deviation sd.prior,
#                              sensible and widely used DEFAULTs are 0.2 for case control traits, and 0.15 * var(trait) for quantitative (selected if trait == "quant")
RP_filt_threshold="0.5"
RP_recalc="FALSE"
RP_trait="cc" # this is the same as BF_target_type
RP_ppi="1e-04"
RP_prior="0.2"
#
# +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+ PRS-CS settings +=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=++=+=+=+=+
# For a more detailed description of PRS-CS parameters go to https://github.com/getian107/PRScs
# BIM_FILE_AVAILABLE        -- [YES/NO] indicating if a .bim file is already available, in this case BIM_FILE_PATH should also be specified,
#                              a .bim file can be retrieved from the tmp files of a previous run (https://www.cog-genomics.org/plink/2.0/formats#bim)
# BIM_FILE_PATH             -- path to the .bim file 
# PRSCS_SETTINGS            -- optional settings of PRS-CS (e.g. PRSCS_SETTINGS="--a 1 --b 0.5 --chrom 1,3,5")
#   --a [value]             -- parameter a in the gamma-gamma prior, default is 1
#   --b [value]             -- parameter b in the gamma-gamma prior, default is 0.5
#   --phi [value]           -- global shrinkage parameter, e.g. "1e-6", if not specified phi will be learned from the data
#   --n_iter [int]          -- total number of MCMC iterations, default is 1000
#   --n_burnin [int]        -- number of burnin iterations, default is 500
#   --thin [int]            -- thinning factor of the Markov chain, default is 5
#   --chrom [list]          -- the chromosome(s) on which the model is fitted, separated by comma, e.g. 1,3,5, default is iterating through chromosomes 1-22
#   --beta_std [bool]       -- [True/False] whether to return standardized posterior SNP effect sizes, default is False
#   --seed [int]            -- non-negative integer which seeds the random number generator
BIM_FILE_AVAILABLE="NO"
BIM_FILE_PATH="/hpc/dhl_ec/aligterink/ProjectFiles/tmp/CAD_PRSCS_2021-Apr-25--17-38_job_4742775/COMBINED_VALIDATION.bim"
PRSCS_SETTINGS=""